body{
  width: 100vw;
  height: 100vh;
}

#container{
  
  display: grid;

 
  grid-template-columns: 1fr 1fr;
 

 
  
}

.cards{
  


max-width:15em;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
  
}
