*{
  padding:0;
  margin: 0;
}


body{
  width: 100vw;
  height: 100vh;
}

#container{
  
  display: grid;

 
  grid-template-columns: 1fr 1fr;
  gap:20px;
 

 
  
}

.cards{
  


display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:1em;

}

.cards > p {
  min-width:auto;
}

.forms{
  position:absolute;
  bottom:50%;
  left:50%;
  margin-left:-200px;
  
}